[2019-04-10 12:03] brendt opened #2 "Enum scopes"
Add support for `Model::query()->whereEnum(ModelStatus::DRAFT())`

[2019-04-12 09:53] brendt opened #5 "Enum validation rule"
Would it make sense to add one or more custom validation rules to validate request input?

[2019-04-26 07:37] Gummibeer opened #8 "continuous integration"
Implement all the linked CI tools:
* [x] TravisCI https://travis-ci.org/spatie/laravel-enum
* [x] StyleCI
* [x] ScrutinizerCI https://scrutinizer-ci.com/g/spatie/laravel-enum/
* [x] CoverallsIO https://coveralls.io/github/spatie/laravel-enum

[2019-04-27 14:13] Gummibeer opened #9 "packagist"
Add this package to packagist. Even without a version it will make it a bit easier to test it.

[2019-05-17 11:20] Gummibeer commented on #9
https://packagist.org/packages/spatie/laravel-enum

[2019-05-17 11:20] #9 closed

[2019-08-04 21:35] Gummibeer commented on #8
@freekmurze could you enable the missing StyleCI?

[2019-08-04 21:50] freekmurze commented on #8
Done

[2019-08-04 21:51] #8 closed

[2019-08-05 16:47] Gummibeer opened #15 "TravisCI is super slow"
A single build needs around 5min
https://travis-ci.org/spatie/laravel-enum/builds/567966674

It seems that the slowest part is `composer update` because of the `--prefer-source` flag and/or no caching.

[2019-08-05 19:33] #2 closed

[2019-08-07 06:40] brendt commented on #15
I believe this is the setup for all our packages at the moment. If travis is able to cache the vendor folder if lock files weren't changed, we could look into that. I'll discuss it here at the office.

[2019-08-07 06:42] brendt commented on #15
Edit: hang on, I just realised we obviously don't add lock files to packages 🤪

I believe @AlexVanderbist looked into this problem before though, maybe he has some input?

[2019-08-07 06:43] #15 closed

[2019-08-07 06:44] brendt commented on #15
Apparently you already submitted a PR which I hadn't seen yet: #16

[2019-08-07 08:35] Gummibeer opened #17 "check that a validated and casted parameter doesn't throw an exception"
In #13 we introduce validation rules and in #7 request parameter transformers. It should be prevented that the transformer runs before the validator and throws an uncatched exception if it should validate it and return a readable message.

[2019-08-13 11:22] Gummibeer commented on #5
#13 isn't merged

[2019-08-23 10:10] Gummibeer commented on #17
https://github.com/spatie/laravel-enum/pull/7/commits/3938b2025b1741c7b46d90e6dfd33cec4f1a87bf should prevent this. Has to be tested

[2019-08-30 12:34] dennisoderwald commented on #5
@Gummibeer Is there a time estimate when the feature will be released?

[2019-08-30 12:59] Gummibeer commented on #5
@dennisoderwald were you able to test it? `dev-ft-rules` as composer version should do the trick.
If you could give feedback it would be awesome. Otherwise I will wait for feedback by @brendt .

[2019-09-05 19:50] Gummibeer opened #21 "symfony/console<4.3.4 conflicts with PHP7.4"
In the [Laravel 5.8 & prefer lowest build](https://travis-ci.org/spatie/laravel-enum/jobs/581364901) I've noticed that `symfony/console<4.3.4` conflicts with PHP7.4. So if 7.4. is official released and we add support for it we should add a conflict to `composer.json`
[code]

https://github.com/symfony/console/commit/93261ed9e543031667431102d3a4846269632dae

Followup issue to https://github.com/spa

[2019-10-07 09:39] paolooo opened #24 "It is possible to make enum nullable?"
MotivationEnums::make() expects string|int as argument but NULL given

[2019-10-07 16:39] paolooo commented on #24
Thanks for the quick reply @Gummibeer.

The column for this enum in my database is nullable.

[2019-10-07 17:11] Gummibeer commented on #24
We could extend the `$enums` array by an optional `nullable` flag that indicates to return `null` if current value is `null` instead of trying to create an Enum instance.

[code]

[2019-10-07 18:51] paolooo commented on #24
Yeah! That would be an elegant solution.

[2019-10-07 19:27] Gummibeer commented on #24
Do you want to open a PR during hacktoberfest? Or should we do it internal?

[2019-10-08 02:45] paolooo commented on #24
I'll try to add a PR.

I was thinking, to add NullObject too, so that we can still do the following:

[code]

But I'm not sure if it ENUM should support NULL. I saw a discussion here ( https://www.quora.com/Should-enum-be-nullable-or-not ). What do you think about it?

[2019-10-08 06:28] Gummibeer commented on #24
For me it's a clear no. An Enum is a finite list of string names with an integer index. So `null` isn't part of it.

I'm ok with adding this nullable feature to the Laravel wrapper. But the nullable enum object should be changed in the Enum package itself and the idea of this package was a strong typed enum. Because @brendt and I prefer strong typing.

[2019-10-08 06:30] brendt commented on #24
If I can pitch in. I'm in favour of adding nullable support, but I'm not sure adding it as a textual flag is the way to go. I recently released the model-states package, in which we decided to use a dedicated method to configure states, like so:

[code]

This method adds more flexibility for future config options, and is — in my opinion — a cleaner solution. I suggest one of two things:

- Allow b

[2019-10-08 06:37] Gummibeer commented on #24
My idea was based on the already known rules or even the casts in Laravel. Only using the method would make it more complicated for all users without the need of nullable enums and also moves the enums away from the casts.

So I would still prefer the string flag in the array to stick with an already known system. Primary because it extends the casts and should be very similar to them.

[2019-10-08 07:46] brendt commented on #24
Good point, I'm fine with it!

[2019-10-08 13:07] paolooo commented on #24
Makes sense 👍 I'm ok with it, too.

[2019-10-08 13:13] paolooo commented on #24
Quick question, why is it we are using `$enums` variable instead of `$casts`?

[code]

vs

[code]

[2019-10-08 13:16] Gummibeer commented on #24
Because it's super hard to get into the normal casting logic. There are multiple issues in the Laravel core to make the cast logic extendable but until now nothing happened. And to keep conflicts with other packages low we decided to use a new property.

[2019-10-08 13:17] paolooo commented on #24
Thanks.

[2019-11-28 16:09] gaelreyrol commented on #24
Has the nullable feature been implemened ?

[2019-12-24 11:00] #17 closed

[2019-12-31 11:00] #5 closed

[2020-01-02 14:07] #21 closed

[2020-01-07 07:59] freekmurze commented on #24
We'll continue this conversation in #25

[2020-01-07 07:59] #24 closed

[2020-02-17 19:46] Gummibeer opened #31 "Laravel 7 custom casts"
https://github.com/laravel/framework/pull/31035
https://github.com/laravel/framework/pull/32129

[2020-02-25 11:37] Patabugen opened #32 "Trait 'Spatie\Enum\HasEnums' not found"
In README.md the example shows:

[code]

but I believe this should be:
[code]

I can make a PR if you can confirm that's correct (and a PR is easier than you correcting it directly).

[2020-02-25 12:27] Gummibeer commented on #32
Thanks! You are right and I would be happy to merge your PR! 😊

[2020-02-25 18:25] Gummibeer commented on #32
Thanks to @Owlnofeathers for fixing it :)

[2020-02-25 18:25] #32 closed

[2020-03-23 11:37] lessevv opened #36 "Command incorrect in README"
Within the README.md, the following artisan command is given as an example:
`php artisan enum:make StatusEnum`

However, this seems to be incorrect, and the correct command is the other way around:
`php artisan make:enum StatusEnum`

I've created the following PR to fix this typo:
https://github.com/spatie/laravel-enum/pull/35

[2020-03-23 12:02] Gummibeer commented on #36
Thanks, you are 100% right. 👍

[2020-03-23 12:03] #36 closed

[2020-03-23 14:10] vizko opened #37 "getIndex return value when used in a factory"
Hello,

When using the enums inside a factory it always return the value and not the index.

Example :
[code]
[code]

the same happens when I try to override the field :
[code]

But if I use a default value in my migration it work as expected
[code]

[code]

edit: I use laravel-enums so maybe related idk.

[2020-03-23 17:29] Gummibeer commented on #37
Hey,

I've moved the issue in the `laravel-enum` package.

Do you want to store the index in the database instead of it's value?
In this case you will have to set the attribute cast to `int`.

https://github.com/spatie/laravel-enum#model-attribute-casting

For the dump I don't know what it does, but it could be that it does some magic in the background.

[2020-03-23 20:58] vizko commented on #37
Casting to int fix my problem thanks 👍

[2020-03-23 21:07] #37 closed

[2020-03-23 21:08] Gummibeer commented on #37
Happy that it solved your issue! If you have an idea how we could improve the readme - let me know or feel free to submit a PR. :)

[2020-03-26 19:12] Gummibeer opened #38 "model attribute cast array of enums"
We have a multiselect/checkboxes - every of these options is a value of the same enum.

[code]

And on the model we save this in a JSON column. like we already introduced the `:nullable` flag - how about being able to add a `array` flag or even better use the `[]` notation behind the enum class name.

Because the new Laravel 7 object custom casts work pretty much the same like our current notation

[2020-03-27 07:05] brendt commented on #38
If you'd do this, I'd definitely choose the `MyEnum::class.':nullable,array'` syntax. I think I would make a dedicated `EnumCollection` cast for clarity, but that's merely preference.

[2020-03-27 07:11] Gummibeer commented on #38
Okay, I will use the `array` flag for the current implementation and switch to the `EnumCollection` cast for the Laravel 7 release.

[2020-04-02 15:03] gjm opened #39 "Hability to blacklist static methods"
I know this issue has been discussed in spatie/enum#28 but with the recent addition of the `Castable` interface in Laravel I believe this needs to be revised.

I've created custom casters to `Enum` classes and would like to be able to make them implement the `Castable` interface which required a `public static castUsing()` method.

Currently this is impossible with `Enum` classes because static me

[2020-04-02 15:30] Gummibeer commented on #39
Hey, I've transferred the issue to the laravel-enum package because your usecase applies to the Laravel implementation.
Because this specific usecase will be solved by #31 I still don't see the point to allow custom static methods on an enum class.
For this specific case we will check for the interface implementation and ignore the `castUsing()` method.

This will be done on a new `Enum` class in

[2020-04-02 15:35] gjm commented on #39
@Gummibeer OK, I'll be watching. Thanks.

[2020-04-03 06:46] brendt commented on #39
Can I pitch in? I think `Castable` should be supported by this package, as soon as Laravel's new version is tagged. I wouldn't support a blacklist.

[2020-04-03 09:42] gjm commented on #39
@brendt I agree. It's already available in [7.4.0](https://github.com/laravel/framework/tree/v7.4.0).

[2020-04-03 12:58] brendt commented on #39
There's still a pending PR that would be needed for this to work: https://github.com/laravel/framework/pull/32213

[2020-04-16 10:14] sestolk opened #40 "Make command gives incomplete output"
I just started using this package and after installation I created a new Enum using the `php artisan make:enum FooEnum` command.

It created the Enum just fine however the command output is incomplete and only shows:

` created successfully.`

Instead of what I think it should have been:

`FooEnum created successfully.`

[2020-04-16 13:23] Gummibeer commented on #40
Hey,
Should be easy to fix.
Because it's a candy request I will flag it for contributors to add. Most times this works pretty well and for sure you can send a PR by yourself. 😉

[2020-04-16 14:37] rossjcooper commented on #40
@oliversarfas 😆

[2020-04-16 14:40] oliversarfas commented on #40
I think a mix of both our methods would be ideal! I also forgot to change the title of my PR 🤦‍♂️

Didn't see the `getNameInput()` method - very handy and a good time to use it here.

[2020-04-17 09:56] Gummibeer commented on #40
It's solved :)
Thanks everyone!
https://github.com/spatie/laravel-enum/releases/tag/1.5.0

[2020-04-17 09:56] #40 closed

[2020-04-30 10:17] #38 closed

[2020-05-02 12:12] Skullbock commented on #31
Hey @Gummibeer if you want i implemented in one of my project this.
It's still rough, but it allows you to use the cast class directly, without needing a trait:

[code]

The basic idea is:

[code]

where ```EnumCast``` is:

[code]

[2020-05-02 17:40] Gummibeer commented on #31
Hey @Skullbock sorry that I haven't linked the PR.
The casting is already done in #44 right now the dropped `$enums` property in the trait brings an issue for the scopes.
That's why it's not merged already.

[2020-05-03 13:36] Skullbock commented on #31
Ah sorry, didn't see that.
You PR'ed solution is way more advanced than mine so i'll use that when released.

Just my 2 cents, my solution, while way less flexible than yours, has 1 small advantage in terms of DX: you can see the class being casted directly there, as an autocompletable and IDE navigatable class, instead of a string as it is in your case. It's a small thing, but still i though wort

[2020-05-04 11:07] Gummibeer commented on #31
Hey,

we have introduced multiple casts (4) so we can't deliver a ready to use enum defining the `castUsing()` method. But we will add an example showing this option to the docs.
I totally love this feature added by @brendt !
What we will prepare is a way to exclude static methods from resolving the enum. Will check which way we will use, but I think that a special doc-comment annotation will be t

[2020-05-04 11:59] Skullbock commented on #31
Gotcha, gonna wait eagerly for that PR to be merged in

[2020-05-04 12:03] Gummibeer commented on #31
Me too, but right now we have some big issues with the scopes. We will have to discuss if we drop the scopes at all or if we have to limit the usability to the most common usecases, expect a given input (real enum instances instead of strings and ints and enumerables mixed) or write some pretty complex magic to let them work the same like right now.
I'm thinking about merging the custom cast class

[2020-07-20 07:44] lucadello91 opened #45 "HasEnums trait collides with HasTranslations trait"
Using HasEnums trait with HasTranslations trait on the same Model, cause collision error:

`Trait method setAttribute has not been applied, because there are collisions with other trait methods on Model`

How can I solve the problem in order to use both Traits in the Model?

[2020-07-20 09:27] freekmurze commented on #45
I'm thinking this can't be solved right now, and we should take a look at this when we create a new major version of the package.

[2020-07-20 09:27] #45 closed

[2020-07-20 11:20] Gummibeer commented on #45
You can use trait method aliasing and combine them in your own method. I think the `setAttribute()` method is the problem?
Both set methods in the traits are relatively simple.

@mstaack can possibly help you with a working example.

[2020-07-25 03:38] neatstudio opened #46 "Plz update composer.json to version ^3.0"
Thanks , bcz i want to use xxx->label ，but 2.x has not this functional.
PLZ....

[2020-07-25 08:56] Gummibeer commented on #46
Hey,

The Upgrade is already in progress #44 - but because v3 of the base package was a major release with breaking changes it's not a simple version bump.
But also v2 already offered labels and the possibility of a custom `toArray()` logic. They just had a different name in v2.

[2020-07-25 08:56] #46 closed

[2020-08-04 10:01] #39 closed

[2020-09-01 17:26] pinkykitten opened #47 "const MAP_VALUE working incorrect"
My enum:

[code]

When I use `\App\Models\Apply::where('status', 1)->first()->status->getName()` it return `ACCEPT_INTERVIEW`.
It looks like *laravel-enum* use `index` 1 map to `ACCEPT_INTERVIEW` instance of use `value` 1 and map to `WAITING_FOR_COMPANY_REPLY`.

What did I do wrong?

[2020-09-01 17:26] pinkykitten commented on #47
Sorry my mistake

[2020-09-03 06:55] brendt commented on #47
Are you able to use v3 of the package? We're not going to actively support v2 anymore.

[2020-09-03 06:55] #47 closed

[2020-09-03 08:13] Gummibeer commented on #47
Also for v2 it's not recommended to map only single values because of unexpected results.
Could you map all values and try again - if you can't upgrade to v3.

[2020-09-03 09:29] pinkykitten commented on #47
Thank you for your reply!

Sorry, But where i can find v3 of this package? Current support is 1.6.0
![2020-09-03-162316_320x841_scrot](https://user-images.githubusercontent.com/7857371/92097717-9aa3e900-ee02-11ea-8227-ba157b809c43.png)

[2020-09-09 07:39] brendt opened #49 "Failing tests because of stub whitespaces"
Hey @Gummibeer I noticed some tests failing over here: https://github.com/spatie/laravel-enum/actions/runs/245897220

Any pointers on how I can fix them? I believe there's just some whitespacing missing in the stub files, but I wanted to check with you first. After those are fixed we'll be able to tag a release for L8

[2020-09-09 07:55] Gummibeer commented on #49
Yeah, seems like the only "problem" is the empty line in the class body. 🤔
Could it be that your IDE "cleaned up" the snapshot file? 🧐🤔
Haven't checked history.

[2020-09-09 13:50] brendt commented on #49
It was phpcs auto formatting them, I fixed it :)

[2020-09-09 13:50] #49 closed

[2020-09-09 19:47] asivaneswaran opened #50 "Can't install with Enum package"
When I try to install this package along side the Spatie/Enum package, I get the following error:
[code]

[2020-09-09 20:36] Gummibeer commented on #50
Hey,
yes - this package is a bit behind.
Because v3 of the base Enum package was a massive refactoring the v2 of this one is also bigger.
https://github.com/spatie/laravel-enum/pull/44
We would be happy to receive real-world feedback in the PR. You can install the `v2.x-dev` version and test it.
If everything is fine and we get feedback we will release it.

[2020-09-09 20:36] #50 closed

[2020-09-16 09:50] error1001es opened #51 "How can I do foreach all statuses?"
I have statuses for user, and i want foreach and echo they, how can i do this?
Thank you for help

[2020-09-16 11:10] Gummibeer commented on #51
Hey,

you can use the `toArray()` method from the base enum package.
https://github.com/spatie/enum/blob/2464947400c02182a342b70a78d03ab58c4db146/src/Enum.php#L208-L211

[2020-09-18 08:04] #51 closed

[2020-09-23 12:03] error1001es opened #52 "How to get enum label?"
i write in UserStatusEnum
`protected static function labels(): array
    {
        return [
            'free' => 'свободен',
            'holiday' => 'выходной',
            'meet_appointed' => 'встреча назначена',
            'meet_accepted' => 'встреча принята',
            'on_meet' => 'на встрече',
            'in_pair' => 'в паре'
        ];
    }`
then i used
`Auth::user()->status->label`
a

[2020-09-23 16:35] #52 closed

[2020-09-30 16:10] xewl opened #53 "Nullable not working as expected"
The `nullable` cast gets validated as being an actual string value when using:

[code]

Exception: (`spatie\Enum` class) [expects a $value, "nullable" gets passed]
`There's no value "nullable" defined for enum SomeStatusEnum, consider adding it in the docblock definition.`

Removing the `:nullable` cast, also returns the exception that it's not passing (the expected number of) parameters
( see als

[2020-09-30 18:45] Gummibeer commented on #53
Does your `SomeStatusEnum` extend the laravel base enum or the enum class provided by `spatie/enum` package?

[2020-09-30 23:19] xewl commented on #53
Oh. Good call... I might've overlooked that one when merging to the new version.
Indeed: `use Spatie\Enum\Enum;` (as that was the use-case of the previous version)

I don't see that change in the current readme eg either, so I probably didn't notice..
I'll retry my changes. [Might be good to put as a note somewhere? :) ]

[2020-10-01 05:37] Gummibeer commented on #53
It's only for the cast support as this requires an interface and method. But I will add a long to the changelog if there's none.

[2020-10-01 14:40] Gummibeer commented on #53
Have checked the changelog - there's this line:

[2020-10-03 04:03] xewl commented on #53
@Gummibeer ^ having it in patch-1 for now. Will PR if that's what
The readme does seem to have a notion of the class to use at `Usage › Model Attribute casting` too

Also looks like the address wasn't updated in this repository, yet :) (Kruikstraat 22 vs Samberstraat 69D)

[2020-10-07 09:45] #53 closed

[2020-10-07 09:53] Gummibeer commented on #53
Thanks for your feedback, idea and also the work/fix you've done! 🎉🚀
Everything is merged now and should be clear enough now - as long as the user/dev reads the docs. 🙏
short list of commits:
* https://github.com/spatie/laravel-enum/commit/3ef37132ac79473e9f8877744717cccf2c0dc884
* https://github.com/spatie/laravel-enum/commit/7358b326f242e098a0b670e08c9c78166798e6c2
* https://github.com/spatie/en

[2020-10-22 10:40] #31 closed

[2020-10-29 16:59] kevindb opened #56 "Does laravel-enum v2 require laravel-framework v8?"
I am trying to install spatie/laravel-enum 2.1 in my project running laravel-framework 7.19.1. (full error below)
`composer require spatie/laravel-enum --update-with-dependencies`

My guess is that spatie/laravel-enum requires illuminate/http ^8.0 and that is only available in Laravel 8? If so, does that mean that laravel-enum v2 is only compatible with laravel-framework v8?

[code]

[2020-10-29 18:06] Gummibeer commented on #56
Hey,
yes, yes, yes and yes.

I'm sorry but this is because of the changes in the `Castable` trait.
https://github.com/spatie/laravel-enum/blob/006fe3b00cf8ba82ec41ca4511bb2612b9867a12/src/Enum.php#L14-L21

As the `castUsing()` with arguments is a super useful feature we've used the Laravel 8 only approach.
If you fear to upgrade yourself - spend the 9$ and let [shift](https://laravelshift.com/) up

[2020-10-29 18:06] #56 closed

[2020-10-29 18:24] kevindb commented on #56
Oh, don't get me wrong, I am extremely eager to get the project onto Laravel 8. It's a matter of getting it prioritized in the "product timeline". #CorporateLife

Would you like a PR to make the requirement clearer in the Readme?

[2020-10-29 18:55] Gummibeer commented on #56
In general we don't highlight such requirements as they are clearly described in the `composer.json` and increase the maintenance effort we have to do every 6months (Laravel release cycle).
We had such notes during Laravel 5/6 and we always forgot to update the README when we've updated the `composer.json`.

[2020-10-29 19:02] kevindb commented on #56
Maybe I'm not looking in the right place. Where is the Laravel requirement in composer.json?

[2020-10-29 19:13] Gummibeer commented on #56
https://github.com/spatie/laravel-enum/blob/006fe3b00cf8ba82ec41ca4511bb2612b9867a12/composer.json#L29-L33
It's not the Laravel you require as an app developer. But you should know the illuminate namespace. `Illuminate` is the components namespace for all the different Laravel components.

[2020-10-29 19:48] kevindb commented on #56
Fair enough. I didn't realize until today that the Illuminate version numbers are in sync with the Laravel version numbers.

Thank you for the explanation! I'll double down trying to prioritize our upgrade to Laravel 8.

[2020-11-10 02:47] djam90 commented on #56
I too have just hit this problem. Slightly annoying as I love and trust Spatie software but equally I don't have the capacity nor the desire to upgrade to Laravel 8 just yet regardless of whether Shift makes it easier or not.

Just to add to what @kevindb was saying, I too would not think to look in composer.json immediately, I kind of assumed this enum package would work on at least the second mo

[2020-11-12 16:01] djam90 opened #57 "BadMethodCallException with numerical enum values"
I have a `UserTypeEnum` with 2 values, Provider and Client. I had already created the database schema with tiny integers for this field so I wanted to set the values to be numerical.

I could not see an example in the documentation for this package but I saw an example of using numbers in the base enum package.

My class is below. When I call the request transformation function, it throws a BadMet

[2020-11-12 16:53] Gummibeer commented on #57
Interesting and good point! 🤔
I'm thinking about a solution as dropping the strict comparison in the base package is no solution.
So we have to find a way to transform the value before it's passed to the base package.

My favorite would be "magic" that transforms the request value based on the validation rule.

Some questions:
* So far I see you aren't using the `FormRequest` trait? https://github

[2020-11-12 22:45] djam90 commented on #57
I hadn't used a FormRequest because this is a field I have added to the standard Laravel Registration controller.

I added the "type" field to the validation rules in the RegistrationController:

[code]

I also added the field to the create method:
[code]

And I wasn't sure what else needed adding, so I copied the `register` function from the RegistersUsers trait, and added `$request->transformEnu

[2020-11-13 00:53] djam90 commented on #57
Also even without that `$request->transformEnums($this->enumCastRules());` it gives me an error with the validation rule, presumably for the same reason, that "1" is not 1 which causes it to fail. The validation message I get is:

[code]

[2020-11-13 01:50] Gummibeer commented on #57
You can use integers - but have to properly cast the raw value before it's passed to the enum.
That's the step I think about how to solve but I fear that there's not an easy solution.

[2020-11-13 12:31] djam90 commented on #57
Ah you are correct, I cast the raw value on the request to be an integer first and it worked now.

[2020-11-13 12:38] Gummibeer commented on #57
Glad the quick fix/workaround works. 🎉
The package provided one will take some more time.

[2020-12-09 19:33] kenhagan commented on #57
I've had the BadMethodCallException issue as well, but under a slightly different circumstance.

I store the enum values as integers in db and cast to enum in the model.  All works well in mysql, but sqlite/pdo returns my integers as strings when I test, which causes the exception.  My solution is to use mysql during tests, but that is obviously less than ideal.  This is a clearly a sqlite/pdo lim

[2020-12-09 20:29] Gummibeer commented on #57
Thanks for adding! Seems like we need to do some value casting before we pass it to the strict enum code. Potentially even override the `make()` method for Laravel. 🤔

[2020-12-30 12:54] jatinthapar1910 opened #59 "Get Label in Response"
I am trying to achieve a functionality which allows to get label in response for the enum.

Person.php
[code]

PersonController.php
[code]

PersonEnum.php
[code]

Expected JSON response
`"type": "Customer"` or `"type": "Supplier"`

Current Response:
`"type": 1,`

[2021-01-02 17:45] Gummibeer commented on #59
Hey,
I really really really don't recommend to use the model `toArray()`/`toJson()` functionality to return it as a response.
Instead I highly recommend [eloquent API resources](https://laravel.com/docs/8.x/eloquent-resources) which allow you to define more explicitly what you return and there you can use `$this->type->label` for example.

[2021-01-14 21:14] fabioi opened #60 "PhpStan / Larastan error: Call to method newScreen() on an unknown class Spatie\WordPressRay\Ray."

[2021-01-14 21:15] #60 closed

[2021-01-20 21:11] lucraraujo opened #61 "Collection validation"
I have a list os value that I have encapsulated as enum. It's something like this:

[code]

And I can select one or more os theses values, I'm trying to validade if in the values I receive in the controller are valid.
The array I receive is something like this:
[code]

And my validation is something like this:
[code]

[2021-01-20 21:15] Gummibeer commented on #61
Hey,

you can use the asterisk to achieve this.

[code]

[2021-01-20 21:20] lucraraujo commented on #61
@Gummibeer Thanks man! It worked!
Sorry if a opened this issue on the wrong place, since my problem was a lack of knowledge on Laravel validation.
Thanks a lot!

[2021-01-20 21:20] #61 closed

[2021-02-01 00:30] #59 closed

[2021-02-03 17:36] kenhagan commented on #57
I believe enum values can be numbers, so that might break stuff.  Am I wrong?  Could we set an attribute in the Enum class to force integer casting.  What do you think?

[2021-02-03 18:26] Gummibeer commented on #57
@brendt seems like we will have to do/add a weak `make()` method. 🤔
The question is if we add it to the base or Laravel wrapper?
I think that we should add a re-try like `is_numeric() ? intval() : $val`.

[2021-02-04 04:54] brendt commented on #57
I think it belongs in the Laravel package, what's your opinion?

[2021-02-04 14:49] ju5t opened #63 "Unexpected validation exception in Livewire"
I'm trying to implement this package in a Livewire component. Some code to illustrate:

Our Enum:

[code]

Our Model:

[code]

Our Livewire component:

[code]

I manipulate `customer.type` with a radio button. When I `@json` this on the rendered page, I get the `type` as a string. But as soon as I validate it, I get (thanks Ray!):

[code]

This is coming from `passes(..)` in the `EnumRule`. It set

[2021-02-04 19:07] Gummibeer commented on #63
I think that's something special to livewire. So we have several ways.
* fix it in your own app
* transfer your fix in a livewire enum package
* come up with a solution in this package

The last one shouldn't conflict with a native Laravel app.

Potentially @brendt has an idea - I'm not using livewire until now.

Something I've seen in your validation rules: do you use the latest version? I don't

[2021-02-04 20:47] ju5t commented on #63
I spent quite some time on it this afternoon looking in what I now think was the wrong direction. You might be right that it is something special to Livewire. That apparently, didn't click earlier today :-(

I think it might have something to do with the hydration concept that is used there. I think that the property is casted there and passed along further to the validation as a casted property.

[2021-02-06 12:10] Gummibeer commented on #63
Hey,
The latest version is still for PHP 7.4
We haven't added PHP 8 only features. But have ideas to do - but not in nearest future.
Regarding the fix: I think that the package rule could get improved with the `instanceof` check.
So if you want to PR it - go for it! 🥳

[2021-02-06 14:02] ju5t commented on #63
Something about assumptions.. I checked, we are using the latest version.

Ok, will definitely do that soon!

[2021-02-07 18:40] ju5t commented on #63
I will close this issue for now. Further discussion should probably take place in the PR.

[2021-02-07 18:40] #63 closed

[2021-03-24 16:07] goyote commented on #57
I had to do this nasty hack on top of the action controller to get it working:

`$request->merge(['status' => (int) request('status')]);`

[2021-04-20 13:41] dpetrovaliev opened #69 "Enum collection support for`set` column type."
Hi, I have the following case:

I have a table with a column type set which is comma-separated values ex. "MALE,FEMALE".
Would be great if there is an additional `cast` for a column with that column type.

[2021-04-21 07:50] Gummibeer commented on #69
Hey,

have you tried extending the `EnumCollectionCast`?
https://github.com/spatie/laravel-enum/blob/master/src/Casts/EnumCollectionCast.php

As a PR I think that adding a config to the options would be a good solution.
Like the `nullable` flag - the user could provide `json` or `comma`. 🤔
I think that `set` would be an irritating and misleading and too specific naming, that's why I think that `co

[2021-04-21 12:18] dpetrovaliev commented on #69
Hey, @Gummibeer

I've tried your suggestion and it works but looking at the definition it doesn't make any sense to me personally:
[code]

Why don't we try to define it as a new type data type?
For example:

`'set_of_enums' => StatusEnum::class.':set_collection'`

[2021-04-22 08:56] elfeffe opened #71 "Is is possible to use Enums on $attributes?"
I want to replace this code

[code]

But as far as I see, you can't.
[code]

That throws error

[2021-04-22 09:02] Gummibeer commented on #71
Hey,
the error is right - as you can't assign object instances to default property values.
You could try something like:

[code]

The effect will be the same but you can use all values as you are inside a method.

[2021-04-22 09:44] elfeffe commented on #71
I see, ok I will try that.
Thank you

[2021-04-22 09:59] #71 closed

[2021-05-01 10:22] #69 closed

[2021-05-10 14:52] elfeffe opened #72 "How to set default attribute value for a model like status = draft?"
I know I can use $attributes, but it doesn't work with Enums.
If I cast my status field to StatusEnum, is there any way to set a default value for new and for created models?

[2021-05-10 16:34] elfeffe commented on #72
Wonderful

[2021-05-10 16:34] #72 closed

[2021-05-27 21:16] ahmedsayedabdelsalam opened #75 "Translator Class not found inside labels method"
when i use translator function inside `labels` method an exception is thrown with a message that the `Translator` class does not exist, any Ideas?

[code]

[2021-05-31 15:24] Gummibeer commented on #75
Hey,
could you please post a full stack-trace? This should only happen if the first enum instance is resolved before the translator service is registered.

In general I recommend to don't use the `labels()` method with translations - because labels have to be unique.
https://github.com/spatie/enum/blob/0868053bbe79464ca164ab75c6a59d1f7da05709/src/Enum.php#L296-L298
Instead you could add another me

[2021-06-03 11:13] ahmedsayedabdelsalam commented on #75
Fatal error: Uncaught ReflectionException: Class translator does not exist in /Users/ahmed/Sites/php/surepay/vendor/laravel/framework/src/Illuminate/Container/Container.php:836
Stack trace:
#0 /Users/ahmed/Sites/php/surepay/vendor/laravel/framework/src/Illuminate/Container/Container.php(836): ReflectionClass->__construct('translator')
#1 /Users/ahmed/Sites/php/surepay/vendor/laravel/framework/src/

[2021-06-07 13:23] creativitycomkw opened #76 "getting error Laravel folder not found"
`use Spatie\Enum\Laravel\Enum;`

<img width="466" alt="Screen Shot 2021-06-07 at 4 22 55 PM" src="https://user-images.githubusercontent.com/66077942/121024139-9f8c3380-c7ac-11eb-918a-f756f3cfc7fc.png">

unable to use
`use Spatie\Enum\Laravel\Enum;`

[2021-06-07 18:47] Gummibeer commented on #76
This looks like a corrupted autoloader. Have you tried to run `composer dump-autoload`? And if that doesn't help delete `vendor` directory and `composer.lock` and run `conposer update`.

[2021-06-08 06:21] creativitycomkw commented on #76
i tried almost everything but still same error

<img width="1202" alt="Screen Shot 2021-06-08 at 9 20 16 AM" src="https://user-images.githubusercontent.com/66077942/121133256-cc872780-c83a-11eb-92a2-c53c2ac19973.png">

[2021-06-08 12:52] Gummibeer commented on #75
I'm unable to reproduce the error.

<img width="1440" alt="Bildschirmfoto 2021-06-08 um 14 50 42" src="https://user-images.githubusercontent.com/6187884/121188060-066f2280-c869-11eb-85db-363d4ee14a54.png">

Tried in a fresh Laravel app - everything with the latest versions.

[code]

[2021-06-14 10:31] ahmedsayedabdelsalam commented on #75
I tired different enum and it's working, I think this issue in the class only
thanks for your support, I'll close the issue.

[2021-06-14 10:31] #75 closed

[2021-06-14 14:22] thijsvdanker commented on #57
I have used
```Rule::in(StatusEnum::toValues())```

[2021-07-07 10:45] artjomzab commented on #57
@kenhagan just came across the same issue. Did you manage to solve this other than having a dedicated mysql instance for testing?

[2021-07-07 14:57] kenhagan commented on #57
No, I did not solve this.  I still use mysql for testing.  Running tests in parallel partially solves the problem, but I have to re-seed for manual testing if I run an individual test.

[2021-07-08 00:33] #76 closed

[2021-07-27 18:04] viniciushss-interstar opened #78 "Unable to groupBy a Collection Using an Enum as a Criteria when Casting"
Hi there,

Sorry if I'm doing something wrong but there's a problem when using an enum as model attribute and the attribute is used in the method `groupBy` of a Eloquent Collection. Example:

The model:
[code]

The problem with [groupBy](https://laravel.com/docs/8.x/collections#method-groupby):
[code]

The return is:

If I remove the cast from the model, it works fine, using the value as array key

[2021-07-28 07:15] Gummibeer commented on #78
The fastest way would be to use the closure option for `groupBy()` and return the string value yourself.
I'm pretty sure/optimistic that things like this will get better with PHP8.1 native enums and the things we can do with them then.

[code]

[2021-07-28 19:15] viniciushss-interstar commented on #78
Thank you, that worked nicely.

[2021-07-28 20:44] #78 closed

[2021-10-16 16:40] ibnuhalimm opened #80 "Creating New Model - No Value Defined for Enum"
I have :
- Package model with package_type attribute
- PackageTypeEnum class

I already cast the `package_type` attribute with `PackageTypeEnum` class, it's working properly as expected, but I got an issue while creating new model, unable to assign value directly.
In my views, I loaded the values and labels of `PackageTypeEnum` using `toArray()` static method then make them as select option field.

[2021-10-17 17:58] Gummibeer commented on #80
Hey,

The message could be misleading in your case. As I assume that the problem is typing.
The request value is a string, but the enum uses integer. So casting the request value to string before it's assigned as model attribute should solve it.

It's a task on my list for hacktoberfest to solve this.

[2021-10-19 19:53] guilhermebillig opened #81 "I cant do new model()"
I don't know what I'm doing wrong.

The model
[code]
The enum class
[code]
The usage
[code]

Already tried
[code]

The error
[code]

[2021-10-19 21:08] wivaku opened #82 "use Laravel Enum in combination with database migration (and: how to list possible values)"
Two part question:
1. is it possible to create a collection of possible values for an enum? I see the Model $casts, but how would I achieve it outside a Model, e.g. in tinker?
2. how do I use Laravel Enum in combination with a database migration?

This to avoid hardcoding e.g.
[code]

Could be I am misunderstanding the package, in which case: apologies!

[2021-10-19 21:45] Gummibeer commented on #81
Hey,
it seems like you are using the wrong base enum class.
`class StatusEnum extends \Spatie\Enum\Enum` you have to extend the laravel specific enum `use Spatie\Enum\Laravel\Enum;`.

[2021-10-20 07:50] wivaku commented on #82
Thanks, exactly what I was looking for! I checked the documentation, but did not think of checking the source code.
And yes, good point about the drawbacks of a DB enum. I will pick string / integer instead.
But still useful to know about the static methods.

[2021-10-20 07:50] #82 closed, assigned to Gummibeer

[2021-10-20 08:22] wivaku opened #83 "mark enum values as obsolete/disabled?"
Is it possible to mark certain enum values as obsolete / disabled?

Use case example:
- last year there were company A, B, C and I have an enum for them
- this year company A and C have merged and formed a new company: `companyAandC`, so I add that one to the enum
- I don't want to remove `companyA` and `companyC` (because still valid for old records), but for new records I want to check against o

[2021-10-20 10:06] wivaku commented on #82
Don't think it's documented in the base package. Creating a PR is a bridge too far for me at the moment I'm afraid, sorry.

Related, for integer values, I assume I always have to [specify them explicitly](https://github.com/spatie/enum#enum-values)? I.e. there's no implicit way to get integer values for a Enum if there's no `function values()` defined?

[2021-10-20 10:22] Gummibeer commented on #82
You are right - we had this in v2 I think but it comes with the problem that the order of your doc-tags is super important as reordering them will result in a totally different mapping.
That's why we decided for the explicit one.

Regarding the PR:
You go to create a new file at [docs/usage/6-list-enum-values.md](https://github.com/spatie/enum/new/master?filename=docs/usage/6-list-enum-values.md)

[2021-10-20 10:52] #83 closed

[2021-10-20 11:24] Gummibeer commented on #57
There won't be a new release in this package as a simple `composer update` will automatically upgrade the base enum package and if you want to ensure that version you can add a `spatie/enum: ^3.10` to your own `composer.json` file.

[2021-10-20 14:02] audunru commented on #57
Can confirm that after upgrading to spatie/enum 3.10 I no longer need to override the Enum class' constructor. Thanks @Gummibeer !

[2021-10-20 14:38] #81 closed, assigned to Gummibeer

[2021-10-20 16:22] Gummibeer commented on #57
Happy to hear! 🎉

[2021-10-31 04:14] ibnuhalimm commented on #80
Hi @Gummibeer
Thank you for your response.

Yes, your assume is correct.
But when I tried to type my request data to (string), it's still not working. I got same errors.
Any other suggestions?

[2021-10-31 11:58] Gummibeer commented on #80
Have you upgraded to [spatie/enum:v3.10.0](https://github.com/spatie/enum/releases/tag/3.10.0)? 🤔
This should solve the string/integer problem.

[2021-11-08 17:48] ibnuhalimm commented on #80
Ahaa, it's working well now with spatie/enum v3.10.0
Thank you very much @Gummibeer

[2021-11-08 17:48] #80 closed

[2021-12-02 14:20] nicolasbeauvais opened #87 "Form request validated data is not casted to enum"
Hello :wave:,

When casting enums in a Form Request, only the data payload in the Request instance is getting cast. So if following best practice and getting the data with the `validated` method in a controller, the original pre-cast data will be returned.

[code]

As a fix, I created an enhanced `TransformsEnums` trait implementing the following method:

[code]

Do you think that this is somethin

[2021-12-07 08:20] alexandruu opened #88 "Custom validation message for EnumValue"
Hy,

I have a Form Request with a custom validation rule:

`$rules = [
            'input.value' => ['required', new EnumValue(ValueEnum::class, false)],
];`

Validation works fine but the message received is ambiguous:

Is there a way to change this message to include at least the attribute in it?

[2021-12-07 10:05] Gummibeer commented on #88
The `EnumRule` defines a fully customizable validation message.
https://github.com/spatie/laravel-enum/blob/c383b730a9f6d9dcc621fc87f9ec586ab791167a/src/Rules/EnumRule.php#L52-L59

But your code example seems like you are using an old outdated version.

[2021-12-07 10:53] alexandruu commented on #88
Thank you!

[2021-12-07 10:53] #88 closed

[2021-12-10 11:54] GeniJaho opened #89 "Validation message not resolved when using 'enum:' rule instead of EnumRule"
Hey guys, great work on this package 😄

I noticed that I wasn't getting proper validation messages every time I was using `'attribute' => 'enum:'.StatusEnum::class`. The message returned is `'validation.enum'`.
Instead, if I use `'attribute' => new EnumRule(StatusEnum::class),`, the validation message is correct.

I would've opened a PR if I knew exactly how to fix this 😄. I implemented two tests

[2021-12-30 13:26] nicolasbeauvais commented on #87
Not stale

[2022-01-09 00:44] #89 closed

[2022-01-09 08:52] nicolasbeauvais commented on #87
Not stale

[2022-01-12 10:08] HakimBe opened #90 "Not nullable enums break Laravel Nova create resource"
Hello,

first of all, i will explain the situation:
i have an eloquent model that has not nullable enum fields.
This model has a Laravel nova resource related to it.
am having the NotNullableEnumField exception thrown when i try to create a new model instance via Laravel nova.

**There is my cast on the eloquent model:**
[code]

**There is the related Laravel nova fields**
[code]

**There is the e

[2022-02-05 09:49] Gummibeer commented on #90
Hey,
I know about it but except of making the field nullable I don't know/see any solution.

[2022-02-13 00:46] #90 closed

[2022-03-02 12:37] abrampl opened #93 "EnumRule issue with different Enums, same value"
Hi,
When we have 2 different enums and 1 rule ```EnumRule(EmailScopeEnum::class```

[code]

When we try to check  rule against PhoneScopeEnum::DEFAULT() it's working, because DEFAULT can be resolved also in EmailScopeEnum

I fix this by changing passes function in EnumRule

[code]

[2022-04-29 09:36] gerb-ster opened #94 "Minor documentation issue"
In the readme.md it states on line 34/35:

[code]

Shouldn't that be:
[code]

The first one gave me an error in PHPStorm saying that the Enum class didn't exists. Or am is missing something here?

[2022-04-29 10:00] gerb-ster commented on #94
nvm, I was looking at the wrong version 🤓

[2022-04-29 10:00] #94 closed

[2022-05-12 19:24] tmas opened #95 "v1 => v2 and v2 => v3 upgrade guides"
I'm attempting to upgrade a project from version 1.6.1 of this package to the latest version, but I can't find a list of breaking changes or any recommendations to work around them.

A full upgrade guide would be awesome, but even just some basic info (e.g. for any model that uses the `HasEnum` attribute, we recommend doing X) would be very helpful.

Thanks!

[2022-05-13 08:14] Gummibeer commented on #95
Have you checked the [Changelog](https://github.com/spatie/laravel-enum/blob/main/CHANGELOG.md)?

[2022-06-03 17:15] Synchro commented on #90
I've just run into this one again. I [reported it in Nova last year](https://github.com/laravel/nova-issues/issues/3456), but it as closed as a Spatie issue. Something that's not mentioned here is that if it's not nullable it should have a default value, but sadly adding a `default()` call in the Nova field doesn't help.

Perhaps it's enforcing the lack of nullability in a `make` call rather than

[2022-06-12 00:11] #95 closed

[2022-07-22 16:08] Jasperscheper commented on #87
Any updates on this?

[2022-11-09 10:10] francoism90 opened #96 "How to use FakerEnumProvider?"
I would like to register this provider in `AppServiceProvider`:
[code]
Result:
```Unknown format "text"```
It seems it cannot find the default Faker factories/methods, any tips?

Thanks!

[2022-11-09 10:20] francoism90 commented on #96
To answer my own question:
[code]

[2022-11-09 10:22] francoism90 commented on #96
Hmm, still:
[code]